EXCLUDED_PATH=/mnt/c/Users/pande/work/scraperdesu/excluded
ACTIVEMQ_HOST='localhost'
ACTIVEMQ_PORT=61613
ACTIVEMQ_USER='admin'
ACTIVEMQ_PASSCODE='admin'
AQ_DEFAULT_QUEUE_PUB='pub_default_queue'
AQ_DEFAULT_QUEUE_SUB='sub_default_queue'