playwright~=1.47.0
python-dotenv~=1.0.1
stomp.py~=8.1.2

mistralai~=1.1.0
google-generativeai~=0.8.1
faiss-cpu~=1.8.0.post1
chromadb~=0.5.5
transformers~=4.44.2
openai~=1.45.1
ollama~=0.3.3
loguru~=0.7.2